Source: clip
Section: utils
Priority: optional
Build-Depends: debhelper,
               extra-cmake-modules,
               libkf5config-dev (>= 5.24.0~),
               libkf5coreaddons-dev (>= 5.24.0~),
               libkf5i18n-dev (>= 5.24.0~),
               libkf5kio-dev,
               libkf5notifications-dev (>= 5.24.0~),
               libkf5service-dev (>= 5.24.0~),
               libqt5svg5-dev,
               mauikit-dev,
               libmauikitfilebrowsing-dev,
               libmpv-dev,
               qt5-qmake,
               qtbase5-dev (>= 5.5.0~),
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qtmultimedia5-dev
Standards-Version: 4.2.1
Homepage: https://invent.kde.org/maui/clip/
Vcs-Git: https://invent.kde.org/maui/clip/clip.git
Vcs-Browser: https://invent.kde.org/maui/clip/
Maintainer: Uri Herrera <uri_herrera@nxos.org>

Package: clip
Architecture: any
Depends: qml-module-org-kde-mauikit,
         qml-module-qt-labs-platform,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Maui Video player.
 Clip allows you to manage and play videos using MPV as a backend.
 Clip works on desktops, Android and Plasma Mobile.
